<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <title>@ViewBag.Title - My Hero App</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <button onclick="topFunction()" id="myBtn" class="btn btn-rose" title="Go to top"><i class="fa fa-arrow-circle-up"></i></button>
    <div class="navbar navbar-expand navbar-dark bg-primary flex-column flex-md-row bd-navbar">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink(" Search Hero App", "Index", "Home", new { area = "" }, new { @class = "navbar-brand  fa fa-address-book" })
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        //Get the button
        var mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            $('body,html').animate({
                scrollTop: 0                       // Scroll to top of body
            }, 500);
        }
    </script>

</body>
</html>
