@using System
@{ // 404 Not Found
    //
    // This view was added by NotFoundMVC
    // For inspiration see: https://www.google.be/search?q=example+404+page
    //
    // The following properties are available in the ViewBag:
    // ViewData["RequestedUrl"]
    // ViewData["ReferrerUrl"]
    //
    string lastSearch = this.ViewBag.LastSearch;
    ViewBag.Title = "Page Not Found"; }
<div class="row">
    <div class="col-lg-8 col-sm-12 text-center">
        <h2 class="">
            You should look somewhere else...
            @if (ViewBag.ReferrerUrl != null)
            {
        <small>   <a href="@ViewBag.ReferrerUrl" class="btn btn-primary btn-link">previous page</a></small> }
                    else
                    {
                        <small>   <a href="@Url.Content("~")?search=@lastSearch" class="">Go Home <i class="material-icons">
    home
</i> </a></small>
                    }
        </h2>
    </div>

    <div class="col-lg-8 col-sm-12 text-center"><img src="~/Content/image/saitama-one-punch-man-.jpg" alt="saitama" class="img-raised rounded img-fluid" style="height:80%;width:80%" /></div>
    <div class="col-lg-4 col-sm-12 text-center"><h3 class="text-danger"><b>404</b></h3></div>
</div>


<script type="text/javascript">
    var GOOG_FIXURL_LANG = '@System.Globalization.CultureInfo.CurrentCulture.Name.Substring(0,2)';
    var GOOG_FIXURL_SITE = '@Request.Url.GetLeftPart(UriPartial.Authority)'
</script>
<script type="text/javascript" src="//linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>

@* Error page must be longer than 512 bytes for IE and Chrome to show it. So add padding in case we're short. *@
@(new string(' ', 512))
